*{
    margin 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.banner{
    width: 85%;
    height: 100vh;
    background:url(vaccine.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
     width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    font-size: 3rem;
    font-style: italic;
    align-items: center;
    justify-content: space-between;
    

}
#navbar  {
    background-color: white;
     width: 120px;
    cursor: pointer;
    font-size: 4rem;
    font-style: italic;
    padding: 18px 0;
    
}

.navbar ul li {
    background-color: white;
    list-style: none;
    display: inline-table;
    margin: 0 20px;
    font-style: italic;
    font-size: 2rem;
    
    
}
    



