* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Home {
    width: 85%;
    height: 100vh;
    background:url(covid5555.jpg);
    background-size: 100%;
    background-position: right;
}

.navbar  {
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    font-size: 2rem;
    font-style: italic;
    align-items: center;
    justify-content: space-between;
    
}

.navbar p {
    margin-top: 1rem;
    font-size: 1.5rem;
    

}

